{{ define "base" }}
  <!doctype html>
  <html lang="en" class="dark bg-white dark:bg-zinc-950 text-white">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
        name="description"
        content="A self-hosted API server for Minecraft"
      />
      <link rel="icon" href="{{ .App.FrontEndURL }}/web/public/icon.png" />
      <link
        rel="manifest"
        href="{{ .App.FrontEndURL }}/web/manifest.webmanifest"
      />
      <link
        rel="stylesheet"
        href="{{ .App.FrontEndURL }}/web/public/style.css"
      />
      <title>{{ block "title" . }}{{ end }}</title>
    </head>
    <body class="flex flex-col min-h-screen">
        {{ template "header" . }}
          <main class="flex flex-col">
            <div class="max-w-screen-xl flex flex-nowrap flex-col mx-auto mb-8 px-4 space-y-5">
              {{ block "content" . }}{{ end }}</main>
            </div>
        {{ template "footer" .}}
    </body>
  </html>
{{ end }}
